{% extends 'base.html' %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">
      Approve or Reject Return #{{ rr.id }}</h2>
<p><strong>Order:</strong> {{ rr.order.id }} • <strong>Item:</strong> {{ rr.order_item.product.name }}</p>
<form method="post">{% csrf_token %}
  {{ form.as_p }}
  <button name="approve" value="1" type="submit">Approve</button>
  <button type="submit">Reject</button>
</form>
      
</header>
{% endblock content %}
