{% extends 'base.html' %}
{% block content %} 
<!-- Header-->
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">About Us...</h1>
          <p class="lead fw-normal text-white-50 mb-0">
            Welcome to The Running Store, your ultimate destination for all things running! 
            We are passionate about providing the best running gear and accessories to help you achieve your fitness goals.
            Our team is dedicated to offering high-quality products and exceptional customer service.
            Whether you're a seasoned marathoner or just starting your running journey, we have everything you need to run in style and comfort.
          </p>
        </div>
      </div>
    </header>

    <div class="container ">
      <div class="row">
        <center>
        <div class="col-md-12">
          <h2 class="fw-bolder mb-4">Our Mission</h2>
          <p>
            At The Running Store, our mission is to inspire and empower runners of all levels. 
            We believe that running is not just a sport, but a way of life. 
            Our goal is to provide you with the best products and resources to enhance your running experience.
          </p>
          <h2 class="fw-bolder mb-4">Contact Us</h2>
          <p>
            Have questions or need assistance? Feel free to reach out to us at:
            <br>Email:therunningstore@gmail.com



{% endblock content %}

